body{
    background-image: url(PNG/bg.jpg);
    background-repeat:repeat;
    background-attachment: fixed;
    background-position: 0 0;
}

.btn-outline-white {
    border-color: rgba(255, 255, 255, 1);
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0;
}

.btn-outline-white:hover, .btn-outline-white:focus {
    box-shadow: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(6, 141, 37);
    transition: background-color 0.2s linear color 0.2s linear;
}